.bcontainer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: red;
}

.btitulo{
font-family: 'Fredoka One', cursive;
margin: 50px 0 10px 0;
background-color: red;
}

.bcard{
    width: 250px;
    padding: 20px;
    height: auto;
    margin: 3%;
    border-radius: 2%;
    box-shadow: 1px 1px 10px gray;
    cursor: pointer;
    
}
.bcard:hover{
    background-color: var(--blueDark);
    opacity: 0.9;
    color: var(--white);
    background-color: red;


}
.bCardBox{
    width: 10%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    box-shadow:   0 4px 16px -10px gray;
    background-color: red;


}

.bCardImgBox{
    margin: auto;
    width: 90%;
    height: auto;
    background-color: red;

}
.bcardImg img{
    width: 100px;
    height: 200px;
    border-radius: 5px;
}

.bcardTitle{
    font-family: 'Montserrat', sans-serif;


}

.bcardPrice{
    font-weight: 600;
}
.bcardPrice:hover{
    color:red;
    font-size: 1.5rem;
}
