.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
    text-align: center;
    background-image: url('../images/fondo2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
}

.titulo{
font-family: 'Fredoka One', cursive;
margin: 50px 0 10px 0;
}

.card{
    width: 250px;
    padding: 20px;
    height: auto;
    margin: 3%;
    border-radius: 2%;
    box-shadow: 1px 1px 10px gray;
    cursor: pointer;
    background-color: var(--white);
   
}
.card:hover{
    background-color: var(--blueDark);
    opacity: 0.9;
    color: var(--white);

}
.cardBox{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    box-shadow:   0 4px 16px -10px gray;

}

.cardImgBox{
    margin: auto;
    width: 90%;
    height: auto;
}
.cardImg{
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.cardTitle{
    font-family: 'Montserrat', sans-serif
}

.cardPrice{
    font-weight: 600;
}
.cardPrice:hover{
    color:red;
    font-size: 1.5rem;
}


.cardDescription{
    font-weight: 700;
}

.cardButton{
    background-color: var(--black);
    color: var(--white);
    border: none;
    font-size: 12px;
    padding: 0.5rem 1rem;
    border-radius: 15%;
}

.cardButton a{
    text-decoration: none;
    color: var(--white);
}


.cardButton:hover{
    background-color: var(--white);
    font-size: 1rem;
    color: var(--black);
}
